.notable-info .work-section .work-panel .credits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.notable-info .work-section .work-panel .credits .credit-panel{
    width: 45%;
    min-height: 128px;
    position: relative;
    z-index: 2;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px;
    margin: 8px;
    box-shadow: -8px 8px 16px 0px rgba(0, 0, 0, 0.75);
    word-wrap: break-word;
}

.notable-info .work-section .work-panel .credits .credit-panel .employee-name{
    font-size: 20px;
}

@media (max-width: 1195px){
    .notable-info .work-section .work-panel .credits .credit-panel{
        width: 35%;
        min-height: 64px;
    }

    .notable-info .work-section .work-panel .credits .credit-panel .employee-name{
        font-size: 10px;
    }
}