
<div id="name-and-title">
    <p id="seb-name">Sébastien Lévesque</p>
    <p id="job-title">Programmer</p>
</div>
<nav>
    <div class="dropdown">
        <span>Video game projects</span>
        <div class="dropdown-content">
            <div class="year-notation">2023</div>
            <a href="#" class="dropdown-game">Zombie Survivor</a>

            <div class="year-notation">2022</div>
            <a href="#" class="dropdown-game">Hitman Poly</a>
            <a href="#" class="dropdown-game">TBDoom</a>

            <div class="year-notation">2021</div>
            <a href="#" class="dropdown-game">Druidal Communion</a>
            <a href="#" class="dropdown-game">Mischievous Fluffball</a>

            <div class="year-notation">2020</div>
            <a href="#" class="dropdown-game">Simple Space Invaders</a>
        </div>
    </div>
</nav>
